.gameChartContainer{
    width: 100%;
    max-width: 550px;
    margin: 16px auto 0;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 32px;

    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 5px 3px #2222225d;

    animation: animationDown 1.5s 1s both;
}

.gameChartContainer > div{
    width: 163px;
    height: 130px;
    margin: 0 auto;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    font-family: 'Chewy', cursive;

    border-top: 0;
    border-left: 0;
    border-right: 2px;
    border-bottom: 0;
    border-color: #2f2f2fb7;
    border-style: dashed;

    background-color: none;
}

.gameChartContainer > div:nth-child(n + 4){
    border-top: 2px;
    border-color: #2f2f2fb7;
    border-style: dashed;
}

.gameChartContainer > div:nth-child(3),
.gameChartContainer > div:nth-child(6),
.gameChartContainer > div:nth-child(9){
    border-right: 0px;
}

.gameChartContainer.item-1 > div:nth-child(1),
.gameChartContainer.item-1 > div:nth-child(2),
.gameChartContainer.item-1 > div:nth-child(3){
    background-color: #e0b115;
}

.gameChartContainer.item-2 > div:nth-child(4),
.gameChartContainer.item-2 > div:nth-child(5),
.gameChartContainer.item-2 > div:nth-child(6){
    background-color: #e0b115;
}

.gameChartContainer.item-3 > div:nth-child(n + 7){
    background-color: #e0b115;
}

.gameChartContainer.item-4 > div:nth-child(1),
.gameChartContainer.item-4 > div:nth-child(4),
.gameChartContainer.item-4 > div:nth-child(7){
    background-color: #e0b115;
}

.gameChartContainer.item-5 > div:nth-child(2),
.gameChartContainer.item-5 > div:nth-child(5),
.gameChartContainer.item-5 > div:nth-child(8){
    background-color: #e0b115;
}

.gameChartContainer.item-6 > div:nth-child(3),
.gameChartContainer.item-6 > div:nth-child(6),
.gameChartContainer.item-6 > div:nth-child(9){
    background-color: #e0b115;
}

.gameChartContainer.item-7 > div:nth-child(1),
.gameChartContainer.item-7 > div:nth-child(5),
.gameChartContainer.item-7 > div:nth-child(9){
    background-color: #e0b115;
}

.gameChartContainer.item-8 > div:nth-child(3),
.gameChartContainer.item-8 > div:nth-child(5),
.gameChartContainer.item-8 > div:nth-child(7){
    background-color: #e0b115;
}

@keyframes animationDown {
    from{
        transform: translateY(-150%);
    }

    to{
        transform: translateY(0%);
    }
}